<%- include('partials/header') -%>

  <div class="bg-indigo-50">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 py-8">

      <div class="px-4 py-5 sm:px-6">
        <h1 class="text-3xl font-medium leading-8  text-gray-900"><%= post.completeName %></h1>
      </div>

      <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="space-y-8 bg-white px-4 py-5 sm:px-6 sm:pt-6 sm:pb-7">
          <div class="grid grid-cols-4 gap-6">
            <!-- Identity -->
            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Gender</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Nationality</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Contact Number</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Email address</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Social Media URL</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>


            <!-- Location -->
            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Initial Call Setting</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Municipality</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Barangay</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">House Address</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Landmark</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>



            <!-- Assessment -->
            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Publisher</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Publication</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Comments</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Status</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Background Check</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.completeName %></p>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>