<%- include('partials/header') -%>

  <div class="bg-indigo-50 h-screen">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 py-8">

      <a href="/feed">
        <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-900 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-50 hover:text-black hover:font-medium focus:outline-none focus:ring-2 focus:ring-gray-900 focus:ring-offset-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="-ml-1 mr-2 h-5 w-5">
            <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
          </svg>
          Go to Feed                                 
        </button>
      </a>
      
      <div class="px-4 py-5 sm:px-6">
        <h1 class="text-3xl font-medium leading-8  text-gray-900"><%= post.completeName %></h1>
      </div>

      <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="space-y-8 bg-white px-4 py-5 sm:px-6 sm:pt-6 sm:pb-7">
          <div class="grid grid-cols-4 gap-6">
            <!-- Identity -->
            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Gender</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.gender %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Nationality</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.nationality %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Contact Number</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.contactNumber %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Email address</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.emailAddress %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Social Media URL</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.socialMediaLink %></p>
            </div>


            <!-- Location -->
            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Initial Call Setting</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.initialCallSetting %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Municipality</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.municipality %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Barangay</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.barangay %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">House Address</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.houseAddress %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Landmark</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.landmark %></p>
            </div>



            <!-- Assessment -->
            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Publisher</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.publisher %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Publication</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.publications %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Comments</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.comments %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Status</h4>
              <p class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= post.status %></p>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <h4 class="text-sm font-medium text-gray-500">Background Check</h4>
              <div class="border-solid">
                <ul class="outline-0 flex flex-wrap">
                  <% if(post.isEnglishDependent==="Yes"){ %>
                    <li class="flex items-center justify-center rounded-full border border-indigo-100 bg-black px-3.5 py-1.5 mr-0.5 mb-0.5 text-xs md:text-sm text-white font-normal">English Dependent</li>
                  <% } %>
                  <% if(post.livesWithPangasinan==="Yes"){ %>
                    <li class="flex items-center justify-center rounded-full border border-indigo-100 bg-black px-3.5 py-1.5 mr-0.5 mb-0.5 text-xs md:text-sm text-white font-normal">Lives Within Pangasinan</li>
                  <% } %>
                  <% if(post.isAttendingMeetings==="Yes"){ %>
                    <li class="flex items-center justify-center rounded-full border border-indigo-100 bg-black px-3.5 py-1.5 mr-0.5 mb-0.5 text-xs md:text-sm text-white font-normal">Attending Meetings</li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>